.search-products{
    float: right !important;
    height: 100%;
}

.input-search{
    margin-top: 15px;
}

.input-component{
    height: 60px;
}

.product-search-not-found{
    text-align: center;
    height: 60px;
}